body {
	font-family: Gill Sans, sans-serif;
	background-color: #f8f8f8;
}

img {
	height: 100px;
}

a {
	color: darkslategray;
	font-size: 16px;
}

.header {
	border-bottom: 2px solid darkgray;
}

.menu li {
	list-style-type: none;
}
.menu a {
	color: darkslategray;
	font-size: 16px;
	text-decoration: none;
}
.menu a:hover {
	color: black;
	font-weight: 600;
}


.catalog_list a:first-letter {
	color: darkred;
	font-size: 200px;
}

.product h3 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.product img {
	height: 250px;
	border-color: gray;
	border-width: 1px 1px 2px 2px;
	border-style: solid;
}
.product img:hover {
	border-color: transparent;
}

.product li {
	list-style-image: url(images/r2d2.png);
	color: maroon;
	font-weight: 400;
	font-style: oblique;
	line-height: 24px;
}

.product
.short_descriptions_text {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.product
.full_descriptions_text {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin: 0 auto;
}
.product
.full_descriptions_text:first-letter,
.short_descriptions_text:first-letter {
	font-size: 26px;
	color: black;
}

.contacts input,
.contacts textarea {
	font-family: timesnewroman;
	font-size: 16px;
	font-weight: 500; 
	color: darkslategray;
	text-transform: capitalize;
}

.contacts {
	line-height: 24px;
}

.contacts input {
	height: 30px;
	width: 300px;
}

.contacts
.name_block text:first-letter {
	text-transform: uppercase;
	color: red;
}
.contacts .name:focus {
	color: green;
}

.contacts
.email:focus {
	background-color: powderblue;
	color: black;
	font-weight: 600;
}

.contacts button {
	height: 40px;
	width: 150px;
	font-size: 12px;
	background-color: lightgray;
}

table {
	border: 1px solid darkgray;
	height: 60px;
	width: 500px;
	text-align: left;
	margin: 10px 0px;

}

tr:nth-child(2n) {
	background-color: lightgray;

}


.footer {
	border-top: 2px solid darkgray;
	text-align: center;
	padding: 15px;
	margin: 15px;
}