body {
	font-family: Gill Sans, sans-serif;
	background-color: #f8f8f8;
}

img {
	height: 100px;
}

a {
	color: darkslategray;
	font-size: 16px;
	user-select: 
}

.menu li {
	list-style-type: none;
}

.menu a {
	color: darkslategray;
	font-size: 16px;
	text-decoration: none;
}

.product h3 {
	color: black;
	font-size: 18;
	font-weight: 400;
	background-color: #eaeaea;
}

.product img {
	height: 150px;
	border-color: gray;
	border-width: 1px 1px 2px 2px;
	border-style: solid;
}

.product li {
	list-style-image: url(images/r2d2.png);
	color: maroon;
	font-weight: 400;
	font-style: oblique;
	line-height: 24px;
}

.product
.short_descriptions_text {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.product
.full_descriptions_text {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.contacts input,
.contacts textarea {
	font-family: timesnewroman;
	font-size: 16px;
	font-weight: 500; 
	color: darkslategray;
}

.contacts {
	line-height: 24px;
}

/*Почему-то не работают рамки*/
.yandex-map {  
	border-width: 10px;
	border-color: gray;
	border-style: solid;
}


.contacts input {
	height: 18px;
	width: 300px;

}


footer {
	text-align: center;
}